*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	background-image: url(images/bgimg.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.menu{

}


.logo{
	float: left;
}

.logo img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.menu{
	height: 80px;
	width: 90%;
	margin:auto;
}


.menu ul{
	float: right;
	list-style: none;
}


.menu ul li{
	display: inline-block;
	line-height: 80px;
}


.menu ul li a{
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	font-size: 30px;
	padding: 5px 10px;
}

.maincontent{
	width: 600px;
	height: 200px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.maincontent h1,p{
	text-align: center;
	color: #fff;
}
.maincontent h1{
	font-size: 40px;
	text-decoration: underline;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.maincontent p{
	font-size: 20px;
	margin-bottom: 20px;
}
button{
	width: 100px;
	height: 40px;
	background: green;
	border:none;
	color: #fff;
	font-weight: 600;
	margin: auto;
	display: block;
}

/*about start here*/

.about{
	width: 100%;
	height: 100vh;
	margin-top: 50px;
}

.about h1{
	text-align: center;
	font-size: 50px;
	text-decoration: underline;

}

.aboutcontent{
	width: 50%;
	float: left;
	height: 600px;
	background: red;

}

.aboutcontent p{
	text-align: justify;
	color: #000;
	padding: 20px;
	font-size: 30px;
}

.aboutphoto{
	width: 50%;
	float:right;
	height: 600px;
}
.aboutphoto img{
	width: 90%;
	height: 600px;
	float:right;
}

/*service*/

.service{

	width: 100%;
	height: 100vh;
	padding: 40px;

}

.service h1{
	text-align: center;
	font-size: 30px;
	text-decoration: underline;
	

}

.box{
	width: 90%;
	margin:auto;
}



.box1,.box2,.box3 {
	width: 30%;
	height: 400px;
	background: green;
	margin: 5px;
	float: left;
	text-align: center;
	font-size: 20px;

}

.box1 img{
	width: 80px;
	height: 80px;
}
.box2 img{
	width: 80px;
	height: 80px;
}
.box3 img{
	width: 80px;
	height: 80px;
}
.btn{
	width: 100px;
	height: 40px;
	background: skyblue;
	border:none; 
	border-radius: 10px;
	margin-top: 20px;
}
/*contact*/
.contact{
	width: 100%;
	height: 100vh;
	background: skyblue;
}

.address{
	width: 45%;
	height: 400px;
	float: left;
	background: #fff;
	margin-left: 20px;
	margin-top: 40px;
}
.form {
	width: 45%;
	height: 400px;
	float: right;
	background: #fff;
	margin-right:  20px;
	margin-top: 40px;
}

input{
	width: 200px;
	height: 40px;
	margin: 20px;
}

